@import "tailwindcss";
:root {
    --dark-brown:#1E0903;
    --brown:#2B0F06;
    --offwhite: rgb(245, 242, 233);
    --wheat: #d9a15b;
    --text-dark: #2f2f2f;
    --sage-dark: #92aa89;
    --text-white: #E6D5C2;
    --primary-background: #62713c; /* Using your provided sage color */
    --primary-text: #E6D5C2; /* Using your provided text-dark color */
    --complementary-text:#334b2d;
    --secondary-text: #d9a15b; /* Using your provided wheat color */
    --beige-background: rgb(245, 242, 233);; /* Using your provided offwhite color */
    --brown-background:#2b0f06;
    --brown-gradient:linear-gradient(180deg, rgba(30, 9, 3, 1) 0%, rgba(43, 15, 6, 1) 100%);
}

@font-face {
    font-family: "CrimsonText-Regular";
    src: url("/fonts/CrimsonText-Regular.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
}
@font-face{
     font-family: "CrimsonText-Bold";
    src: url("/fonts/CrimsonText-Bold.ttf") format("truetype"); 
    font-weight: bold;
    font-style: normal;
}
@font-face{
     font-family: "CrimsonText-SemiBold";
    src: url("/fonts/CrimsonText-SemiBold.ttf") format("truetype"); 
    font-weight: semi-bold;
    font-style: normal;
}
.my-font {
    font-family: "CrimsonText-Regular", 'Times New Roman', Times, serif;
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-in-right {
    animation: slide-in-right 0.5s ease-out forwards;
}

.animate-slide-in-left {
    animation: slide-in-left 0.5s ease-out forwards;
}
